workflows/markdown-to-confluence-pipeline.json
{
  "name": "Markdown → Confluence Pages (Create or Update, Multi-Page)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "markdown-to-confluence",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "k1000000-0000-0000-0000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "markdown-to-confluence"
    },
    {
      "parameters": {
        "jsCode": "function mdToConfluenceHtml(md) {\n  const lines = md.replace(/\\r/g, '').split('\\n');\n  let html = '', inCodeBlock = false, codeContent = '', codeLang = 'text', inList = false;\n  for (let i = 0; i < lines.length; i++) {\n    const line = lines[i];\n    if (line.startsWith('```') && !inCodeBlock) { if (inList) { html += '</ul>'; inList = false; } inCodeBlock = true; codeLang = line.slice(3).trim() || 'text'; codeContent = ''; continue; }\n    if (line.startsWith('```') && inCodeBlock) { inCodeBlock = false; html += '<ac:structured-macro ac:name=\"code\"><ac:parameter ac:name=\"language\">' + codeLang + '</ac:parameter><ac:plain-text-body><![CDATA[' + codeContent.trim() + ']]></ac:plain-text-body></ac:structured-macro>'; continue; }\n    if (inCodeBlock) { codeContent += line + '\\n'; continue; }\n    if (line.match(/^\\|.+\\|$/) && i + 1 < lines.length && lines[i+1].match(/^\\|[-| :]+\\|$/)) {\n      if (inList) { html += '</ul>'; inList = false; }\n      const headers = line.split('|').filter(c => c.trim()).map(c => '<th>' + c.trim() + '</th>').join('');\n      html += '<table><thead><tr>' + headers + '</tr></thead><tbody>'; i++;\n      while (i + 1 < lines.length && lines[i+1].match(/^\\|.+\\|$/)) { i++; html += '<tr>' + lines[i].split('|').filter(c => c.trim()).map(c => '<td>' + c.trim() + '</td>').join('') + '</tr>'; }\n      html += '</tbody></table>'; continue;\n    }\n    if (line.startsWith('#### ')) { if (inList) { html += '</ul>'; inList = false; } html += '<h4>' + line.slice(5) + '</h4>'; continue; }\n    if (line.startsWith('### '))  { if (inList) { html += '</ul>'; inList = false; } html += '<h3>' + line.slice(4) + '</h3>'; continue; }\n    if (line.startsWith('## '))   { if (inList) { html += '</ul>'; inList = false; } html += '<h2>' + line.slice(3) + '</h2>'; continue; }\n    if (line.startsWith('# '))    { if (inList) { html += '</ul>'; inList = false; } html += '<h1>' + line.slice(2) + '</h1>'; continue; }\n    if (line.match(/^---+$/))     { if (inList) { html += '</ul>'; inList = false; } html += '<hr/>'; continue; }\n    if (line.startsWith('> '))    { if (inList) { html += '</ul>'; inList = false; } html += '<blockquote><p>' + line.slice(2) + '</p></blockquote>'; continue; }\n    if (line.match(/^- \\[([ xX])\\] /)) {\n      if (inList) { html += '</ul>'; inList = false; }\n      html += '<ac:task-list>';\n      while (i < lines.length && lines[i].match(/^- \\[([ xX])\\] /)) {\n        const cm = lines[i].match(/^- \\[([ xX])\\] (.+)/);\n        const checked = (cm[1] === 'x' || cm[1] === 'X');\n        html += '<ac:task><ac:task-status>' + (checked ? 'complete' : 'incomplete') + '</ac:task-status><ac:task-body>' + cm[2] + '</ac:task-body></ac:task>'; i++;\n      }\n      html += '</ac:task-list>'; continue;\n    }\n    if (line.match(/^[-*] /)) {\n      if (!inList) { html += '<ul>'; inList = true; }\n      let item = line.replace(/^[-*] /, '').replace(/\\*\\*(.+?)\\*\\*/g, '<strong>$1</strong>').replace(/\\*(.+?)\\*/g, '<em>$1</em>').replace(/`([^`]+)`/g, '<code>$1</code>');\n      html += '<li>' + item + '</li>'; continue;\n    }\n    if (line.trim() === '') { if (inList) { html += '</ul>'; inList = false; } continue; }\n    if (inList) { html += '</ul>'; inList = false; }\n    let p = line.replace(/\\*\\*(.+?)\\*\\*/g, '<strong>$1</strong>').replace(/\\*(.+?)\\*/g, '<em>$1</em>').replace(/`([^`]+)`/g, '<code>$1</code>').replace(/\\[([^\\]]+)\\]\\(([^)]+)\\)/g, '<a href=\"$2\">$1</a>');\n    html += '<p>' + p + '</p>';\n  }\n  if (inList) html += '</ul>';\n  return html;\n}\n\nfunction extractPageId(val) {\n  if (!val) return '';\n  val = val.trim();\n  const pagesMatch = val.match(/\\/pages\\/(\\d+)/);\n  if (pagesMatch) return pagesMatch[1];\n  if (val.match(/^\\d+$/)) return val;\n  return val;\n}\n\nconst body = $input.first().json.body;\nconst pages = body.pages || [];\nconst labelsStr = body.labels || '';\nlet parentPageId = extractPageId(body.parentPageId || '') || ($env.CONFLUENCE_PARENT_PAGE_ID || '');\nconst date = new Date().toISOString().split('T')[0];\n\nconst labels = ['ai-generated'];\nif (labelsStr) labels.push(...labelsStr.split(',').map(l => l.trim()).filter(Boolean));\nconst labelsJson = labels.map(l => ({ prefix: 'global', name: l }));\n\n// Legacy support: single page format\nif (pages.length === 0 && body.pageMarkdown) {\n  pages.push({ markdown: body.pageMarkdown, pageId: body.pageId || '', title: body.title || '' });\n  const sectionMarkdowns = body.sectionMarkdowns || [];\n  for (const s of sectionMarkdowns) { if (s.trim()) pages[0].markdown += '\\n\\n---\\n\\n' + s; }\n}\n\nif (pages.length === 0) return [{ json: { error: 'No pages provided' } }];\n\nreturn pages.map((pg, idx) => {\n  const md = pg.markdown || '';\n  const pageId = extractPageId(pg.pageId || '');\n  let title = pg.title || '';\n  if (!title) {\n    const titleMatch = md.replace(/\\r/g, '').match(/^# (.+)$/m);\n    title = titleMatch ? titleMatch[1] : 'Page ' + (idx + 1);\n  }\n\n  let html = mdToConfluenceHtml(md);\n  html += '<hr/><p><em>Published from markdown by <a href=\"https://github.com/openmindednewby/ai-confluence-pipeline\">ai-confluence-pipeline</a> on ' + date + '</em></p>';\n\n  const isUpdate = !!pageId;\n  let confBody;\n  if (isUpdate) {\n    confBody = { type: 'page', title, space: { key: $env.CONFLUENCE_SPACE_KEY }, body: { storage: { value: html, representation: 'storage' } } };\n  } else {\n    confBody = { type: 'page', title, space: { key: $env.CONFLUENCE_SPACE_KEY }, body: { storage: { value: html, representation: 'storage' } }, metadata: { labels: labelsJson } };\n    if (parentPageId) confBody.ancestors = [{ id: parentPageId }];\n  }\n\n  return { json: { confBody, title, pageId, isUpdate, html, pageIndex: idx } };\n});"
      },
      "id": "k1000000-0000-0000-0000-000000000002",
      "name": "Prepare Pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst pageId = item.pageId;\nconst isUpdate = item.isUpdate;\nconst confBase = $env.CONFLUENCE_BASE_URL;\n\nlet method, url, apiBody;\n\nif (isUpdate) {\n  // Need to GET current version first, then PUT\n  method = 'GET';\n  url = confBase + '/wiki/rest/api/content/' + pageId + '?expand=version';\n  apiBody = null;\n} else {\n  method = 'POST';\n  url = confBase + '/wiki/rest/api/content';\n  apiBody = item.confBody;\n}\n\nreturn [{ json: { method, url, apiBody, confBody: item.confBody, title: item.title, pageId, isUpdate, html: item.html, pageIndex: item.pageIndex } }];"
      },
      "id": "k1000000-0000-0000-0000-000000000003",
      "name": "Build Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "is-update", "leftValue": "={{ $json.isUpdate }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        }
      },
      "id": "k1000000-0000-0000-0000-000000000010",
      "name": "Create or Update?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": { "timeout": 15000 }
      },
      "id": "k1000000-0000-0000-0000-000000000011",
      "name": "Get Page Version",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 150],
      "credentials": { "httpBasicAuth": { "id": "confluence-auth", "name": "Confluence Basic Auth" } }
    },
    {
      "parameters": {
        "jsCode": "const currentPage = $input.first().json;\nconst prev = $('Build Request').first().json;\nconst currentVersion = currentPage.version?.number || 1;\n\nconst updateBody = {\n  type: 'page',\n  title: prev.title,\n  space: { key: $env.CONFLUENCE_SPACE_KEY },\n  body: { storage: { value: prev.html, representation: 'storage' } },\n  version: { number: currentVersion + 1 }\n};\n\nreturn [{ json: { updateBody, pageId: prev.pageId, title: prev.title, isUpdate: true, pageIndex: prev.pageIndex } }];"
      },
      "id": "k1000000-0000-0000-0000-000000000012",
      "name": "Build Update Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 150]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.CONFLUENCE_BASE_URL }}/wiki/rest/api/content/={{ $json.pageId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.updateBody) }}",
        "options": { "timeout": 30000 }
      },
      "id": "k1000000-0000-0000-0000-000000000013",
      "name": "Update Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 150],
      "credentials": { "httpBasicAuth": { "id": "confluence-auth", "name": "Confluence Basic Auth" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CONFLUENCE_BASE_URL }}/wiki/rest/api/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.apiBody) }}",
        "options": { "timeout": 30000 }
      },
      "id": "k1000000-0000-0000-0000-000000000004",
      "name": "Create Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 450],
      "credentials": { "httpBasicAuth": { "id": "confluence-auth", "name": "Confluence Basic Auth" } }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst allPrepped = $('Prepare Pages').all();\nconst allResults = $input.all();\nconst confBase = $env.CONFLUENCE_BASE_URL;\n\nconst pages = allPrepped.map((prep, i) => {\n  const result = allResults[i]?.json || {};\n  const url = (result._links?.base || '') + (result._links?.webui || '');\n  return {\n    id: result.id || prep.json.pageId,\n    title: prep.json.title,\n    url: url,\n    action: prep.json.isUpdate ? 'updated' : 'created'\n  };\n});\n\nreturn [{ json: { success: true, pages, pageCount: pages.length } }];"
      },
      "id": "k1000000-0000-0000-0000-000000000005",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "k1000000-0000-0000-0000-000000000006",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2000, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Prepare Pages", "type": "main", "index": 0 }]] },
    "Prepare Pages": { "main": [[{ "node": "Build Request", "type": "main", "index": 0 }]] },
    "Build Request": { "main": [[{ "node": "Create or Update?", "type": "main", "index": 0 }]] },
    "Create or Update?": {
      "main": [
        [{ "node": "Get Page Version", "type": "main", "index": 0 }],
        [{ "node": "Create Page", "type": "main", "index": 0 }]
      ]
    },
    "Get Page Version": { "main": [[{ "node": "Build Update Body", "type": "main", "index": 0 }]] },
    "Build Update Body": { "main": [[{ "node": "Update Page", "type": "main", "index": 0 }]] },
    "Update Page": { "main": [[{ "node": "Aggregate Results", "type": "main", "index": 0 }]] },
    "Create Page": { "main": [[{ "node": "Aggregate Results", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "ai-pipeline" }, { "name": "confluence" }, { "name": "markdown" }]
}
